@charset "UTF-8";
#entrar2, .formulario-cadastro-antigo, #entrar1, .formulario-cadastro-novo, main {
  margin-top: 30px;
}

#texto-checkbox-2, #estado, #sexo, .campo-formulario {
  margin-bottom: 20px;
}

.formulario-cadastro-antigo, .formulario-cadastro-novo {
  margin-right: 20px;
}

header {
  background: linear-gradient(#DDDDDD, #888888);
  margin-top: 10px;
  height: 370px;
  width: 100%;
}
@media (max-width: 767.98px) {
  header {
    width: 100%;
    padding: 15px 0;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  header {
    width: 90%;
    padding: 20px 0;
    margin-left: 5%;
  }
}

#logo-header {
  margin-top: 70px;
}

h1 {
  display: inline-block;
  vertical-align: top;
  width: 64%;
}

.titulo {
  font-family: "New Rocker", cursive;
  text-align: center;
  margin-top: 120px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid rgba(124, 10, 39, 0.925);
  border-radius: 10px;
  box-shadow: 10px 10px 10px #373737;
  font-size: 2.25rem;
}

#pesquisa {
  background-color: #EEEEEE;
  text-align: right;
  display: inline-block;
  height: 40px;
  width: 45%;
  margin-left: 27%;
  margin-bottom: 40px;
  border: 1px solid rgba(124, 10, 39, 0.925);
  border-radius: 6px;
  font-size: 1.125rem;
}

.menu {
  font-family: "New Rocker", cursive;
  position: absolute;
  margin-left: 25px;
  top: 20px;
}

.menu-itens {
  display: inline-block;
  margin: 0 17px 0 60px;
}

nav li:hover {
  transform: scale(1.1);
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.0625rem;
}

nav a:hover {
  color: #C78C19;
  text-decoration: underline;
}

footer {
  display: inline-block;
  background-color: #373737;
  margin-top: 20px;
  width: 100%;
}

table {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 21%;
}

thead {
  display: block;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 1.125rem;
}

th {
  padding-bottom: 10px;
  color: #FFFFFF;
  padding-right: 16px;
}

td {
  color: #FFFFFF;
  padding-left: 5px;
  padding-right: 9px;
}

#telefone-footer {
  display: inline-block;
  position: absolute;
  margin-left: -585px;
  margin-top: 170px;
}

#logo-footer {
  text-align: center;
  padding-right: 10px;
  width: 177px;
  height: 250px;
  margin-top: 10px;
  padding-top: 20px;
}

#texto-footer {
  text-align: center;
  padding-bottom: 15px;
  color: #FFFFFF;
  font-size: 0.875rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #DDDDDD;
}

main {
  background-image: url(../imagens/Background-2.jpg);
}

.produtos_breadcrumb {
  width: 30%;
}

#breadcrumb_link1 {
  display: inline-flex;
  margin-left: 2%;
  margin-top: 25px;
  text-decoration: none;
  color: #888888;
  font-size: 0.875rem;
}
#breadcrumb_link1:hover {
  transform: scale(1.2);
  color: rgba(124, 10, 39, 0.925);
}

#breadcrumb_link2 {
  display: inline-flex;
  text-decoration: none;
  font-weight: bold;
  color: rgba(124, 10, 39, 0.925);
  font-size: 0.875rem;
}
#breadcrumb_link2:hover {
  transform: scale(1.1);
  color: rgba(124, 10, 39, 0.925);
}

.breadcrumb_image {
  vertical-align: middle;
  width: 10px;
  margin: 5px;
}

.formulario-novo {
  display: inline-block;
  background: linear-gradient(#DDDDDD, #888888);
  width: 38%;
  margin-right: 8%;
  margin-left: 120px;
  margin-top: 130px;
  margin-bottom: 80px;
  padding-top: 50px;
  padding-bottom: 20px;
  vertical-align: top;
  border: 1px solid rgba(124, 10, 39, 0.925);
  border-radius: 10px;
}

.formulario-novo:hover {
  transform: scale(1.02);
  border-color: #C78C19;
}

#titulo-formulario-novo {
  font-weight: bold;
  padding-bottom: 2px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 1.5625rem;
}

#sub-formulario-novo {
  font-family: "Italianno", cursive;
  text-align: center;
  padding-top: 0px;
  font-size: 2rem;
}

#sub-formulario-novo:hover {
  transform: scale(1.1);
  font-style: italic;
  color: rgba(124, 10, 39, 0.925);
}

.formulario-cadastro-novo {
  display: inline-block;
  margin-left: 70px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 1.125rem;
}

#obrigatório {
  color: #000000;
  font-weight: bold;
}

form label {
  display: inline-block;
  margin: 0 0 10px;
  margin-bottom: 6px;
  color: rgba(124, 10, 39, 0.925);
  font-size: 0.9375rem;
}

.campo-formulario {
  display: inline-block;
  margin: 0 0 20px;
  padding: 10px;
  width: 85%;
  border-radius: 5px;
  border: 3px;
  font-size: 0.8125rem;
}

#titulo-cpf {
  width: 49%;
}

#cpf {
  display: inline-block;
  margin: 0 0 20px;
  margin-bottom: 15px;
  margin-right: 7%;
  padding: 12px;
  width: 37%;
  border-radius: 5px;
  border: 3px;
  font-size: 0.8125rem;
}

#nascimento {
  margin: 0 0 20px;
  margin-bottom: 15px;
  margin-right: 35px;
  padding: 10px;
  width: 168px;
  border-radius: 5px;
  border: 3px;
  font-size: 1.0625rem;
}

#titulo-sexo {
  margin-right: 118px;
}

#sexo {
  display: inline-block;
  width: 23%;
  margin-right: 110px;
  margin: 0 0 20px;
  padding: 8px;
  background-color: #EEEEEE;
  color: #C78C19;
  border-radius: 5px;
  border: 3px;
}

#cep {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 20px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 55px;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  border: 3px;
  font-size: 0.8125rem;
}

#buscar-cep {
  background-color: rgba(124, 10, 39, 0.925);
  size: 90px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 0 20px;
  margin-bottom: 15px;
  color: #FFFFFF;
  cursor: pointer;
  transition: 1s background-color;
  border-radius: 5px;
  border: 3px;
  font-size: 0.875rem;
}

#buscar-cep:hover {
  background-color: #C78C19;
  transform: scale(1.1);
}

#buscar-cep:active {
  background-color: #C78C19;
}

#titulo-endereco {
  display: block;
}

#titulo-complemento {
  width: 45%;
}

#titulo-bairro {
  margin-right: 10%;
}

#complemento {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 20px;
  margin-bottom: 15px;
  margin-right: 27px;
  padding: 10px;
  width: 35%;
  border-radius: 5px;
  border: 3px;
  font-size: 0.8125rem;
}

#bairro {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 20px;
  margin-bottom: 15px;
  margin-right: 35px;
  padding: 10px;
  width: 40%;
  border-radius: 5px;
  border: 3px;
  font-size: 0.8125rem;
}

#titulo-cidade {
  width: 75%;
}

#cidade {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 20px;
  margin-bottom: 15px;
  margin-right: 26px;
  padding: 10px;
  width: 64%;
  border-radius: 5px;
  border: 3px;
  font-size: 0.8125rem;
}

#estado {
  display: inline-block;
  font-weight: bold;
  width: 15%;
  margin-right: 70px;
  margin: 0 0 20px;
  padding: 10px;
  background-color: #EEEEEE;
  color: #C78C19;
  border-radius: 5px;
  border: 3px;
  font-size: 0.8125rem;
}

#titulo-telefone {
  width: 33%;
}

#telefone {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 20px;
  margin-bottom: 15px;
  margin-right: 16px;
  padding-left: 5px;
  padding: 10px;
  width: 25%;
  border-radius: 5px;
  border: 3px;
  font-size: 0.8125rem;
}

#email1 {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 20px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 10px;
  width: 52%;
  border-radius: 5px;
  border: 3px;
  font-size: 0.8125rem;
}

#confimeSenha {
  margin-bottom: 40px;
}

.checkbox {
  font-weight: normal;
  margin-left: -17px;
  font-size: 0.9375rem;
}

#texto-checkbox-1 {
  margin-top: 80px;
  font-size: 1.125rem;
}

#entrar1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: rgba(124, 10, 39, 0.925);
  size: 140px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 150px;
  margin-bottom: 25px;
  color: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
  transition: 1.5s all;
  font-size: 1.0625rem;
}

#entrar1:hover {
  transform: scale(1.1);
  background-color: #C78C19;
}

#entrar1:active {
  background-color: #C78C19;
}

.formulario-antigo {
  display: inline-block;
  background: linear-gradient(#DDDDDD, #888888);
  width: 36%;
  margin-left: 40px;
  margin-top: 130px;
  padding-top: 50px;
  padding-bottom: 20px;
  vertical-align: top;
  border: 1px solid rgba(124, 10, 39, 0.925);
  border-radius: 10px;
}

.formulario-antigo:hover {
  transform: scale(1.02);
  border-color: #C78C19;
}

#titulo-formulario-antigo {
  font-weight: bold;
  padding-bottom: 2px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 1.5625rem;
}

#sub-formulario-antigo {
  font-family: "Italianno", cursive;
  text-align: center;
  padding-top: 0px;
  font-size: 2rem;
}

#sub-formulario-antigo:hover {
  transform: scale(1.1);
  font-style: italic;
  color: rgba(124, 10, 39, 0.925);
}

.formulario-cadastro-antigo {
  display: block;
  margin-left: 70px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 1.125rem;
}

#email-2 {
  margin-right: 20px;
}

#senha2 {
  margin-right: 20px;
}

#entrar2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: rgba(124, 10, 39, 0.925);
  size: 140px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 150px;
  margin-bottom: 25px;
  color: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
  transition: 1.5s all;
  font-size: 1.0625rem;
}

#entrar2:hover {
  transform: scale(1.1);
  text-decoration: underline;
  background-color: #C78C19;
}

#entrar2:active {
  background-color: #C78C19;
}

/*# sourceMappingURL=cadastro.css.map */
