#titulo-formulario-novo {
  margin-top: 20px;
}

#entrar {
  margin-top: 30px;
}

.select-horario {
  margin-bottom: 20px;
}

.formulario-contato-novo {
  margin-right: 20px;
}

header {
  background: linear-gradient(#DDDDDD, #888888);
  margin-top: 10px;
  height: 370px;
  width: 100%;
}

#logo-header {
  margin-top: 70px;
}

h1 {
  display: inline-block;
  vertical-align: top;
  width: 64%;
}

.titulo {
  font-family: "New Rocker", cursive;
  text-align: center;
  margin-top: 120px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid rgba(124, 10, 39, 0.925);
  border-radius: 10px;
  box-shadow: 10px 10px 10px #373737;
  font-size: 2.25rem;
}

#pesquisa {
  background-color: #EEEEEE;
  text-align: right;
  display: inline-block;
  height: 40px;
  width: 45%;
  margin-left: 27%;
  margin-bottom: 40px;
  border: 1px solid rgba(124, 10, 39, 0.925);
  border-radius: 6px;
  font-size: 1.125rem;
}

.menu {
  font-family: "New Rocker", cursive;
  position: absolute;
  margin-left: 25px;
  top: 20px;
}

.menu-itens {
  display: inline-block;
  margin: 0 17px 0 60px;
}

nav li:hover {
  transform: scale(1.1);
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.0625rem;
}

nav a:hover {
  color: #C78C19;
  text-decoration: underline;
}

footer {
  display: inline-block;
  background-color: #373737;
  margin-top: 20px;
  width: 100%;
}

table {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 21%;
}

thead {
  display: block;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 1.125rem;
}

th {
  padding-bottom: 10px;
  color: #FFFFFF;
  padding-right: 16px;
}

td {
  color: #FFFFFF;
  padding-left: 5px;
  padding-right: 9px;
}

#telefone-footer {
  display: inline-block;
  position: absolute;
  margin-left: -585px;
  margin-top: 170px;
}

#logo-footer {
  text-align: center;
  padding-right: 10px;
  width: 177px;
  height: 250px;
  margin-top: 10px;
  padding-top: 20px;
}

#texto-footer {
  text-align: center;
  padding-bottom: 15px;
  color: #FFFFFF;
  font-size: 0.875rem;
}


body {
  background-color: #DDDDDD;
  font-family: "Montserrat", sans-serif;
}

main {
  background-image: url(../imagens/background-2.jpg);
  margin-top: 20px;
}

.produtos_breadcrumb {
	width: 30%;
  }
  
  #breadcrumb_link1 {
	display: inline-flex;
	margin-left: 2%;
	margin-top: 25px;
	text-decoration: none;
	color: #888888;
	font-size: 0.875rem;
  }
  #breadcrumb_link1:hover {
	transform: scale(1.2);
	color: rgba(124, 10, 39, 0.925);
  }
  
  #breadcrumb_link2 {
	display: inline-flex;
	text-decoration: none;
  font-weight: bold;
	color: rgba(124, 10, 39, 0.925);
	font-size: 0.875rem;
  }
  #breadcrumb_link2:hover {
	transform: scale(1.1);
	color: rgba(124, 10, 39, 0.925);
  }
  
  .breadcrumb_image {
	vertical-align: middle;
	width: 10px;
	margin: 5px;
}

.formulario-contato {
  display: inline-block;
  background-color: #DDDDDD;
  width: 36%;
  margin-right: 8%;
  margin-left: 120px;
  margin-top: 130px;
  margin-bottom: 60px;
  padding-top: 50px;
  padding-bottom: 10px;
  vertical-align: top;
  border: 1px solid rgba(124, 10, 39, 0.925);
  border-radius: 10px;
}

.formulario-novo:hover {
  transform: scale(1.1);
  border-color: #C78C19;
}

#titulo-formulario-novo {
  font-family: "Italianno", cursive;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.875rem;
}

#sub-formulario-novo {
  font-family: "Italianno", cursive;
  font-size: 18px;
  text-align: center;
  margin-top: -20px;
  font-size: 1.875rem;
}

#sub-formulario-novo:hover {
  transform: scale(1.1);
  font-style: italic;
  color: rgba(124, 10, 39, 0.925);
  text-decoration: none;
}

.formulario-contato-novo {
  display: block;
  margin-top: 50px;
  margin-left: 70px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 1.125rem;
}

form label {
  display: block;
  margin: 0 0 10px;
  margin-bottom: 6px;
  color: rgba(124, 10, 39, 0.925);
}

.titulo-campo-contato {
  font-family: "Italianno", cursive;
  font-size: 1.4375rem;
}

.campo-formulario {
  display: block;
  margin: 0 0 20px;
  margin-bottom: 15px;
  padding: 10px;
  width: 85%;
  border-radius: 5px;
  border: 3px;
}

textarea {
  display: block;
  margin: 0 0 20px;
  margin-bottom: 15px;
  padding: 10px;
  width: 85%;
}

.radio-box {
  color: #000000;
  margin-top: 70px;
  margin-bottom: 40px;
}

.radio-opcoes {
  font-family: "Italianno", cursive;
  font-weight: normal;
  font-size: 1.4375rem;
}

.desejo-contato {
  font-family: "Italianno", cursive;
  color: rgba(124, 10, 39, 0.925);
  margin-top: 60px;
  margin-left: 3px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.4375rem;
}

#texto-horario {
  font-family: "Italianno", cursive;
  color: rgba(124, 10, 39, 0.925);
  margin-top: 60px;
  margin-left: 3px;
  font-size: 18px;
  font-weight: bold;
  font-size: 1.4375rem;
}

.select-horario {
  display: block;
  background-color: #EEEEEE;
  color: #C78C19;
}

.checkbox {
  font-weight: normal;
  margin-left: -40px;
  font-size: 0.875rem;
}

#texto-checkbox-1 {
  margin-top: 70px;
  font-weight: normal;
  color: rgba(124, 10, 39, 0.925);
  font-size: 0.875rem;
}

#texto-checkbox-2 {
  margin-bottom: 25px;
  font-weight: normal;
  color: rgba(124, 10, 39, 0.925);
}

#entrar {
  text-align: center;
  background-color: rgba(124, 10, 39, 0.925);
  size: 140px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 140px;
  margin-bottom: 25px;
  color: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
  transition: 1.5s all;
  font-size: 0.875rem;
}

#entrar:hover {
  transform: scale(1.1);
  text-decoration: underline;
  background-color: #C78C19;
}

#entrar:active {
  background-color: #C78C19;
}

/*# sourceMappingURL=contato.css.map */
