.diferenciais-itens, #mapa-img {
  margin-top: 20px;
}

.barbearia1 {
  margin-bottom: 20px;
}

.video-home, .diferenciais-itens, #mapa-img {
  margin-bottom: 30px;
}

#missao {
  margin-left: 20px;
}

header {
  background: linear-gradient(#DDDDDD, #888888);
  margin-top: 10px;
  height: 370px;
  width: 100%;
}
@media (max-width: 767.98px) {
  header {
    width: 100%;
    padding: 15px 0;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  header {
    width: 90%;
    padding: 20px 0;
    margin-left: 5%;
  }
}

#logo-header {
  margin-top: 70px;
}

h1 {
  display: inline-block;
  vertical-align: top;
  width: 64%;
}

.titulo {
  font-family: "New Rocker", cursive;
  text-align: center;
  margin-top: 120px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid rgba(124, 10, 39, 0.925);
  border-radius: 10px;
  box-shadow: 10px 10px 10px #373737;
  font-size: 2.25rem;
}

#pesquisa {
  background-color: #EEEEEE;
  text-align: right;
  display: inline-block;
  height: 40px;
  width: 45%;
  margin-left: 27%;
  margin-bottom: 40px;
  border: 1px solid rgba(124, 10, 39, 0.925);
  border-radius: 6px;
  font-size: 1.125rem;
}

.menu {
  font-family: "New Rocker", cursive;
  position: absolute;
  margin-left: 25px;
  top: 20px;
}

.menu-itens {
  display: inline-block;
  margin: 0 17px 0 60px;
}

nav li:hover {
  transform: scale(1.1);
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.0625rem;
}

nav a:hover {
  color: #C78C19;
  text-decoration: underline;
}

footer {
  display: inline-block;
  background-color: #373737;
  margin-top: 20px;
  width: 100%;
}

table {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 21%;
}

thead {
  display: block;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 1.125rem;
}

th {
  padding-bottom: 10px;
  color: #FFFFFF;
  padding-right: 16px;
}

td {
  color: #FFFFFF;
  padding-left: 5px;
  padding-right: 9px;
}

#telefone-footer {
  display: inline-block;
  position: absolute;
  margin-left: -585px;
  margin-top: 170px;
}

#logo-footer {
  text-align: center;
  padding-right: 10px;
  width: 177px;
  height: 250px;
  margin-top: 10px;
  padding-top: 20px;
}

#texto-footer {
  text-align: center;
  padding-bottom: 15px;
  color: #FFFFFF;
  font-size: 0.875rem;
}

body {
  background-color: #DDDDDD;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767.98px) {
  body {
    width: 90%;
    padding: 15px 0;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  body {
    width: 90%;
    padding: 20px 0;
    margin-left: 5%;
  }
}

.check-point {
	display: inline-block;
	top: 20px;
  margin: 40px 110px 10px 20%;
  padding-right: 40px;
 
}	
	
.check-point-itens {
	font-family: 'New Rocker', cursive;
	display: inline-block;
  margin-right: inherit;

}

.check-point li:hover {
  transform: scale(1.1);
}

.check-point li a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.0625rem;
}

.check-point a:hover {
  color: #C78C19;
  text-decoration: underline;
}

#banner {
  width: 100%;
  height: 650px;
  margin-top: 30px;
  border-radius: 17px;
}

#home-sobre-nos {
  background: linear-gradient(#DDDDDD, #BBBBBB);
  padding-bottom: 30px;
}

.sub-titulo {
  font-family: "New Rocker", cursive;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 60px;
  margin-right: 500px;
  margin-left: 500px;
  padding: 17px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid rgba(124, 10, 39, 0.925);
  border-radius: 10px;
  box-shadow: 10px 10px 10px #373737;
}

p {
  text-align: center;
}

.texto-sobre {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.4px;
  margin-left: 70px;
  margin-right: 50px;
  font-size: 1.125rem;
}

#missao {
  letter-spacing: 1.4px;
  margin-top: 80px;
  font-size: 1.25rem;
}

#missao:hover {
  transform: scale(1.1);
}

em strong {
  color: rgba(124, 10, 39, 0.925);
}

.mapa {
  background: linear-gradient(#DDDDDD, #888888);
}

#mapa-img {
  margin-left: 7%;
  margin-right: 9%;
  border-radius: 6px;
}

.diferenciais {
  background: linear-gradient(#DDDDDD, #888888);
  padding: 2px;
  padding-bottom: 2%;
}
.diferenciais-lista {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin: 19px;
  margin-right: 18%;
  font-size: 1.125rem;
}

h3 {
  font-family: "New Rocker", cursive;
  margin-bottom: 40px;
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
  padding: 20px;
  text-align: center;
  border: 2px solid rgba(124, 10, 39, 0.925);
  border-radius: 10px;
  box-shadow: 10px 10px 10px #373737;
  font-size: 1.375rem;
}

.diferenciais-itens {
  font-style: italic;
}

.barbearia1 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-left: 4%;
  margin-right: 13%;
  border-radius: 3px;
  box-shadow: 10px 10px 10px #000000;
}

.barbearia2 {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 25%;
  margin-top: 2%;
  height: 570px;
  margin-bottom: -310px;
  margin-right: 5%;
  border-radius: 3px;
  box-shadow: 10px 10px 10px #000000;
}

.video-home {
  display: inline-block;
  height: 450px;
  width: 800px;
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 8%;
  border-radius: 3px;
  box-shadow: 10px 10px 10px #000000;
}

.texto-video-home {
  display: inline-block;
  vertical-align: top;
  width: 18%;
  height: 300px;
  margin-top: 100px;
  border: dashed 4px #BBBBBB;
  border-radius: 5px;
  padding: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 10px 10px 8px #888888;
}

#citacao-video {
  text-align: normal;
  margin-bottom: 70px;
  color: rgba(124, 10, 39, 0.925);
  font-size: 1.875rem;
}

#autor {
  margin-left: 80px;
  color: rgba(124, 10, 39, 0.925);
  font-size: 1.25rem;
}

/*# sourceMappingURL=style.css.map */
